# '#' oznacza komentarz - linijka jest pomijana przez oprogramowanie
# komentarz służy do robienia notatek lub
# wyłączania linijek kodu

[header]
info = testowy batch


[uv channels]
1 = 210
2 = 220
3 = 230
4 = 240
5 = 250
6 = 260
7 = 270
8 = 280

[processing]
GRAD_UP = 0.7
GRAD_DOWN = 0.0
FORWARD = 10

[chromatograms]
054_79_MK14 10uL - MWD 2.1L- Channel 1.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 2.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 3.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 4.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 5.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 6.txt = MK14
054_79_MK14 10uL - MWD 2.1L- Channel 7.txt = MK14
054_79_MK14 10uL - RID2.1L- Channel 1.txt = MK14
055_80_WZ1 20oC - MWD 2.1L- Channel 1.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 2.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 3.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 4.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 5.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 6.txt = WZ1 40
055_80_WZ1 20oC - MWD 2.1L- Channel 7.txt = WZ1 40
055_80_WZ1 20oC - RID2.1L- Channel 1.txt = WZ1 40
FAKE1 - MWD 2.1L- Channel 2.txt = FAKE1
FAKE2 - MWD 2.1L- Channel 2.txt = FAKE2

